@font-face {
  font-family: "NatureSpiritRegular";
  src: url("./fonts/NatureSpiritRegular.otf"); /* IE9 Compat Modes */
}

@font-face {
  font-family: "NatureSpiritRough";
  src: url("./fonts/NatureSpiritRough.otf"); /* IE9 Compat Modes */
}

@font-face {
    font-family: "HaiEisya";
    src: url("./fonts/HaiEisya-FreeVersion.otf"); /* IE9 Compat Modes */
  }

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body ::selection {
    color: rgb(133, 224, 240);
    background:  rgb(119, 36, 129); /* WebKit/Blink Browsers */
  }

nav {
  font-family: NatureSpiritRegular;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: rgb(119, 36, 129);
  z-index: 10;
}

.logo {
  color: rgb(245, 235, 235);
  letter-spacing: 5px;
  font-size: 20px;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 30%;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: rgb(245, 235, 235);
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 18px;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: rgb(245, 235, 235);
  margin: 5px;
  transition: all 0.3s ease;
}

@media screen and (max-width: 1300px) {
  .nav-links {
    width: 50%;
  }

  #myVideo {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    transform: translateX(500px);
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background-color: rgb(119, 36, 129);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .nav-links li {
    opacity: 0;
  }
  .burger {
    display: block;
  }
  #myVideo {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    transform: translateX(800px);
  }
}

.nav-active {
  transform: translateX(0%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

.content {
  z-index: 3;
  color: #eee;
  background: rgb(119, 36, 129, 0.8);
  width: 20%;
  /* position: absolute; */
  margin-top: 175px;
  margin-left: 150px;
  border-style: solid;
  border-color: rgb(124, 177, 187);
  border-radius: 3px;
}

.content ::selection {
    color: rgb(133, 224, 240);
    background:  rgb(119, 36, 129); /* WebKit/Blink Browsers */
  }

#MoveMtn {
    font-size: 45px;
    font-family: NatureSpiritRough;
    color: rgb(133, 224, 240);
}

#lorem {
    font-size: 14px;
    font-family: HaiEisya;
    text-align: left;
    padding-left: 5px;
    color: #eee;
}

@media only screen and (max-width: 1161px) {
    .content {
        z-index: 0;
        width: 80%;
        margin-top: 300px;
        margin-left: 50px;
      }
}

ul :hover {
    color: rgb(133, 224, 240);
}